[user]
	name = Ryan Horiguchi
	email = ryan.horiguchi@gmail.com
	username = rhoriguchi
[github]
	user = rhoriguchi
[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
[credential]
	helper = store
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore-global
[color]
    diff = auto
    status = auto
    ui = auto
[feature]
    manyFiles = true
